.box {
  background: #fff;
  border-radius: 4px;
  padding-bottom: 100%;
}

.card {
  border: none !important;
}
.carousel img {
  min-width: 100% !important;
  width: 100% !important;
  height: 50vh;
  object-fit: cover;
  opacity: 95%;
  overflow: hidden;
  height: 30vw;
  width: 30vw;
}

.carousel-caption {
  background-color: #000000;
  opacity: 70%;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}
